BASE_URL=https://genailab.tcs.in
# LLM_MODEL=azure_ai/genailab-maas-DeepSeek-V3-0324
LLM_MODEL=gemma4:latest
# EMBEDDING_MODEL=azure/genailab-maas-text-embedding-3-large
EMBEDDING_MODEL=nomic-embed-text-v2-moe:latest
API_KEY=sk-**************
